mixin createReplyModal(user)
    #replyModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='replyModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#replyModalLabel.modal-title Reply
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                    #originalTweetContainer
                    .reply-form.p-3.d-flex
                        .user-pic.mr-1
                            img(src=user.profilePic, alt="profile picture" width="100%")
                        form.col(action="") 
                            textarea.form-control#replayText(placeholder="What's happening?"  style="height: 60px")
                .modal-footer
                    button.btn.btn-secondary#close(type='button', data-dismiss='modal') Close
                    button#submitReplyButton.btn.btn-primary(type='button', disabled) Reply


mixin createFollowButton(user, isFollowing)
    - text = isFollowing ? "Following" : "Follow"
    - buttonClass = isFollowing ? "followButton following" : "followButton"
    button(class=buttonClass, data-user=user._id) #{text}